.Header {
    background-color: #ffffff;
  text-emphasis-color:  black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 40px 60px;
  font-size: 50px;
  width: 50%;
    
  }
  
  